# Plantilla de variables de entorno para backend IC_IV
SERVERPORT=3000
BDURL=mongodb://localhost:27017/iciv_db

# MQTT Broker
MQTTBROKERURL=mqtt://localhost:1883
BROKERUSERNAME=
BROKERPASSW=
MQTTBROKERCAPATH=